<style>
    b, strong {
        font-weight: bolder;
    }

    .section-header h3 {
        color: #222;
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 1.44px;
        margin-bottom: 0;
        position: relative;
        text-transform: uppercase;
    }

    .section-header h6 {
        color: #e4af3a;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0.52px;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .about-section {
        padding: 60px 0;
    }

    .about-content {
        margin-bottom: 30px;
    }

    .about-img {
        text-align: center;
    }

        .about-img img {
            max-width: 100%;
            height: auto;
        }

    @@media (min-width: 768px) {
        .section-header h3 {
            font-size: 48px;
        }

        .section-header h6 {
            font-size: 14px;
        }

        .about-section {
            padding: 80px 0;
        }

        .about-content {
            margin-bottom: 0;
            padding-right: 30px;
        }

        .about-img {
            text-align: right;
        }
    }

    .breadcumb-wrapper {
        padding: 54px 0;
    }

    .breadcumb-title {
        font-size: 37px;
    }
       
</style>


<div class="breadcumb-wrapper background-image" data-overlay="title" data-opacity="4" style="background-image: url(/Content/assets/Custom/Tour/spain.jpg);"><div class="container z-index-common"><h1 class="breadcumb-title">About Us</h1><ul class="breadcumb-menu"><li><a href="/">Home</a></li><li>About Us</li></ul></div></div>

<div class="about-section">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">

            <!-- Section Header -->
            <div class="section-header section-header-left">
                <h6>who we are</h6>
                <h3><b>about</b> us</h3>
            </div><!-- Section Header -->

            <div class="col-lg-6 about-img">
                <img src="/Content/assets/Custom/Tour/about-img1.png" alt="About">
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">

                    <p><i>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</i></p>
                    <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiamtorquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam</p>
                    <a href="#" title="Read More" class="as as-btn">Read More</a>
                </div>
            </div>

        </div><!-- Row /- -->
    </div><!-- Container /- -->
</div>





<style>


    .features-icon-left {
        float: left;
    }

    .features-pad-left {
        padding-left: 84px;
    }

    .features-bottom {
        padding-bottom: 30px;
    }

        .features-bottom:last-child {
            padding-bottom: 0;
        }

    .res-width-full {
        width: 100%;
    }

    .col-md-6 {
        float: left;
        padding-left: 15px;
    }

    @@media (min-width: 992px) {
        .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
            float: left;
        }
    }

    @@media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .h2-bottom {
        margin-bottom: 40px;
    }

    @@media only screen and (min-width: 250px) and (max-width: 639px) {
        h2 {
            font-size: 28px;
            line-height: 34px;
        }
    }

    @@media only screen and (min-width: 250px) and (max-width: 479px) {
        .common-full-1 {
            width: 100% !important;
        }
    }

    h2 {
        color: #333333;
        font-size: 34px;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 1px;
    }

    h1, h2, h3, h4, .menu-fs, .header-head1 .bgimage-head, .link {
        text-transform: uppercase;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0px;
    }
</style>



<section class="container-fluid section-space section-bg-1">
    <div class="container">
        <div class="section-header">
            <h6>Our services</h6>
            <h3><b>What we</b> do</h3>
        </div>

        <br />

        <div class="row">
            <div class="col-md-10 column-center no-padding res-width-full">
                <div class="col-md-6 col-sm-6 col-xs-6 common-full features-res-bottom">
                    @*<div class="features-icon-left">
            <img src="https://premiumlayers.com/html/citytaxi/assets/images/what-do-icon-1.png" alt="Icon">
        </div>*@
                    <div class="service-list_icon features-icon-left">
                        <img src="/Content/assets/img/icon/service_list_1.svg" alt="service Icon">
                    </div>
                    <div class="features-pad-left features-bottom">
                        <h4 class="left h4-bottom"><a href="#">airport transportation</a></h4>
                        <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper</p>
                    </div>

                  
                    <div class="service-list_icon features-icon-left">
                        <img src="/Content/assets/img/icon/service_list_3.svg" alt="service Icon">
                    </div>
                    <div class="features-pad-left features-bottom">
                        <h4 class="left h4-bottom"><a href="#">Home Pick Up</a></h4>
                        <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 common-full">
                    <div class="service-list_icon features-icon-left">
                        <img src="/Content/assets/img/icon/service_list_4.svg" alt="service Icon">
                    </div>
                    <div class="features-pad-left features-bottom">
                        <h4 class="left h4-bottom"><a href="#">luxury taxi service</a></h4>
                        <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper</p>
                    </div>

                    <div class="service-list_icon features-icon-left">
                        <img src="/Content/assets/img/icon/service_list_2.svg" alt="service Icon">
                    </div>
                    <div class="features-pad-left features-bottom">
                        <h4 class="left h4-bottom"><a href="#">Business Transfer</a></h4>
                        <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>