<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Taxseco - Online Taxi Service HTML Template - Home 5</title>
    <meta name="author" content="Angfuzsoft">
    <meta name="description" content="Taxseco - Online Taxi Service HTML Template">
    <meta name="keywords" content="Taxseco - Online Taxi Service HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="~/Content/assets/C_css/layout.css" rel="stylesheet" />
    <link href="~/Content/assets/C_css/index.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/Content/assets/img/favicons/manifest.json">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/css/app.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <style>
        .header-links li:not(:last-child):before {
            content: none;
        }

        .header-layout6 .header-links li a:hover {
            color: red;
        }

        .header-layout6 .header-top {
            padding: 10px 0 0 0;
            height: 47px;
        }

        .theme-red .download-btn:hover {
            background-color: lightblue !important;
        }


        .my {
            color: white !important;
            background: linear-gradient(120deg, #eb7575 50%, #e94d4d 50%);
            border: 1px solid red;
        }



        .flip_image:hover {
            transform: scaleX(-1);
        }

        .menu-top {
            padding: 20px !important;
        }



        .main-menu ul li.menu-item-has-children > a:after {
            content: "" !important;
        }

        .footer-layout3 .copyright-wrap {
            background-color: #cc0e0e !important;
        }

        .footer-layout3 .copyright-text a:hover {
            color: #080808 !important;
        }



        .process-card_icon .shape {
            background-color: #040202 !important;
        }

        .team-grid:hover {
            box-shadow: 0 6px 12px -4px rgb(11 18 25 / 42%);
        }




        .myclass {
            padding-bottom: 0px !important;
        }

        .carpadding {
            padding-top: 15px !important;
        }

        .girlimage {
            transform: scaleX(-1);
        }

  

        .service-img {
            overflow: hidden !important;
        }

            .service-img img {
                transition: transform .5s ease !important;
            }

        .section.oh .container {
            background-color: #f8f8f8; 
        }
        .footer-layout3 .copyright-wrap {
            padding: 9px 0;
        }

        .copyright-text{
            display:flex;
            
        }
        .as-header .info-card_icon {
            color: #f20000;
        }
            .as-header .info-card_icon i:hover {
                background-color: #e30d16;
            }
        .as-header .info-card_icon:hover {
            color: white;
        }
        .header-layout6 .main-menu > ul > li > a:hover {
            color: #493963;
        }
        .copyright-text {
            
            text-transform: none;
           
        }
        .car-top {
            width: 67px;
            position: fixed;
            bottom: -180px;
            right: 30px;
            z-index: 9999;
            opacity: 1;
            cursor: pointer;
        }

            .car-top:before,
            .car-top:after {
                content: "";
                position: absolute;
                transition: 0.2s;
                opacity: 0;
            }

            .car-top:before,
            .car-top.car-run:before {
                top: -1px;
                left: 0px;
                width: 85px;
                height: 89px;
                background: url(http://themes.potenzaglobalsolutions.com/html/cardealer/assets/images/car-focus.png) no-repeat 0 0;
            }

        @@media only screen and (max-width: 767px) {
            .car-top {
                right: 2px;
            }

                .car-top:before,
                .car-top.car-run:before {
                    width: 55px;
                    height: 56px;
                }
        }

        @@media only screen and (min-width: 768px) and (max-width: 991px) {
            .car-top {
                width: 60px;
                bottom: -140px;
                right: 25px;
            }

                .car-top:before,
                .car-top.car-run:before {
                    width: 70px;
                    height: 72px;
                }
        }

        /* Styles for large screens */
        @@media only screen and (min-width: 992px) {
            .car-top {
                width: 67px;
                bottom: -180px;
                right: 2px;
            }

                .car-top:before,
                .car-top.car-run:before {
                    width: 85px;
                    height: 89px;
                }
        }

        .car-top.show {
            bottom: 5% !important;
            transition: bottom 1.0s;
        }

        .car-top.car-run {
            bottom: 100% !important;
            transition: bottom 1.0s;
        }

        .car-top.car-down {
            transition: 1.0s;
        }

        .car-top:hover:before,
        .car-top:hover:after,
        .car-top.car-run:before,
        .car-top.car-run:after {
            opacity: 1;
        }
      
    </style>


</head>
<body class="theme-red">


    <div class="as-menu-wrapper">
        <div class="as-menu-area text-center">
            <button class="as-menu-toggle">

            </button>
            <div class="mobile-logo">
                <a href="/Index">
                    <img src="/Content/assets/Custom/custom.img/Taxi_Horizontal_Logo.png" alt="Taxseco">
                </a>
            </div>
            <div class="as-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="/">Home</a>

                    </li>
                    <li>
                        <a href="/About">About Us</a>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="/OurService">Service</a>

                    </li>
                    <li class="menu-item-has-children">

                        <a href="/OurFleet">Vehicle</a>


                    </li>
                    <li class="menu-item-has-children">
                        <a href="/Destination">Destination</a>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="/Tour">Tour Package</a>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="/Gallery">Gallery</a>

                    </li>

                    <li>
                        <a href="/Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <header class="as-header header-layout6">
        <div class="header-top">
            <div class="container">
                <div class="row con1 justify-content-center justify-content-md-between align-items-center gy-2">
                    <div class="col-auto d-none d-md-block">
                        <div class="header-links">
                            <ul>

                                <li style="color: white; margin-right: -14px;">

                                    <i class="fa-solid fa-location-dot"></i>

                                </li>
                                <li>
                                    <p style="color:white;">Golimar Sadan, Amber Road </p>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-social" style="padding-bottom:18px;">
                            <span class="social-title">Follow Us:</span>
                            <a href="https://www.facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.twitter.com/">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="menu-top">
                <div class="row align-items-center justify-content-between">
                    <div class="col-sm-auto">
                        <div class="header-logo">
                            <a href="/">
                                <img src="/Content/assets/Custom/custom.img/Taxi_Horizontal_Logo.png" style=" max-width: 200px; height: auto;" alt="Taxseco">
                            </a>
                        </div>
                    </div>
                    <div class="col-auto ms-auto d-none d-lg-block">
                        <div class="info-card-wrap">
                            <div class="info-card">
                                <div class="info-card_icon">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="info-card_content">
                                    <p class="info-card_text" style="color:black;">Email Adress:</p>
                                    <a href="mailto:riteshak246@gmail.com" class="info-card_link">info@example.com</a>
                                </div>
                            </div>
                            <div class="info-card">
                                <div class="info-card_icon">
                                    <i class="fal fa-phone"></i>
                                </div>
                                <div class="info-card_content">
                                    <p class="info-card_text" style="color:black;">Phone Number:</p>
                                    <a href="tel:+7481081258" class="info-card_link">(+468) 254 76243</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto ml-20 d-none d-sm-block">
                        <div class="header-button">
                            <a href="/Contact" class="as-btn"><i class="fa-solid fa-paper-plane"></i>&nbsp;ENQUERY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="sticky-active">
                <div class="container">
                    <div class="menu-area">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <nav class="main-menu d-none d-lg-block">
                                    <ul>
                                        <li class="menu-item-has-children">
                                            <a href="\"><i class="fa-solid fa-house"></i>&nbsp;Home</a>

                                        </li>
                                        <li>
                                            <a href="/About">About Us</a>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a href="/OurService">Service</a>


                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="/OurFleet">Vehicle</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="/Destination">Destination</a>


                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="/Tour">Tour Package</a>

                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="/Gallery">Gallery</a>

                                        </li>

                                        <li>
                                            <a href="/Contact">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                                <button class="as-menu-toggle d-inline-block d-lg-none">
                                    <i class="far fa-bars"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>




    @RenderBody()




    <footer class="footer-wrapper footer-layout3">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">About Company</h3>
                            <div class="as-widget-about">
                                <p class="footer-text">Centric aplications productize before front end vortals visualize front end is results and value added</p>
                                <h4 class="footer-info-title">WE ARE AVAILABLE</h4>
                                <p class="footer-text">Mon-Sat: 09.00 am to 6.30 pm</p>

                                <div class="newsletter-widget">

                                    <div class="as-social style2">
                                        <a target="_blank" href="https://facebook.com/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a target="_blank" href="https://twitter.com/">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a target="_blank" href="https://instagram.com/">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a target="_blank" href="https://linkedin.com/">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Quick link</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li>
                                        <a href="/About">About Us</a>
                                    </li>
                                    <li>
                                        <a href="/destination">Destination</a>
                                    </li>
                                    <li>
                                        <a href="/gallery">Gallery</a>
                                    </li>
                                    <li>
                                        <a href="/Services">Our Services</a>
                                    </li>
                                    <li>
                                        <a href="/tourpackage">Our Tour Package</a>
                                    </li>
                                    <li>
                                        <a href="/Contact">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h4 class="widget_title">Location</h4>
                            <div class="newsletter-widget">
                                <p class="md-20">Shop No : 20, 3rd Floor, Golimar Sadan, Amber Road, Jaipur, Rajasthan – 302002</p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3556.783266039545!2d75.83688511485344!3d26.94208458311493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sShop%20No%20%3A%2020%2C%203rd%20Floor%2C%20Golimar%20Sadan%2C%20Amber%20Road%2C%20Jaipur%2C%20Rajasthan%20%E2%80%93%20302002!5e0!3m2!1sen!2sin!4v1680796107716!5m2!1sen!2sin" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <p class="copyright-text">
                    © @DateTime.Now.Year &nbsp;<a href="/">Taxi Hiering in Delhi</a>. ALL RIGHTS RESERVED.  &nbsp; <a href="www.linkedin.com/in/ritesha-k-444a3a261" style="color:navajowhite;">Made by Ritesha</a>
                </p>
            </div>
        </div>
    </footer>


    <div class="car-top show car-down" style="display:none;">
        <span><img src="http://themes.potenzaglobalsolutions.com/html/cardealer/assets/images/car.png" alt=""></span>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var $scrolltop = $('.car-top');
            var $window = $(window);

            $scrolltop.on('click', function () {
                $('html,body').animate({
                    scrollTop: 0
                }, 500);
                $(this).addClass("car-run");
                setTimeout(function () {
                    $scrolltop.removeClass('car-run');
                }, 1000);
                return false;
            });

            $window.on('scroll', function () {
                if ($window.scrollTop() >= 200) {
                    $scrolltop.show();
                    $scrolltop.addClass("show");
                    $scrolltop.addClass("car-down");
                } else {
                    $scrolltop.hide();
                    $scrolltop.removeClass("show");
                    setTimeout(function () {
                        $scrolltop.removeClass('car-down');
                    }, 300);
                }
            });

            $('.owl-carousel-1').owlCarousel({
                items: 3,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    992: {
                        items: 3
                    },
                    1400: {
                        items: 3
                    }
                },
                margin: 40,
                loop: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                dots: false,
                nav: true,
                navText: ["<i class='fa fa-angle-left fa-2x'></i>", "<i class='fa fa-angle-right fa-2x'></i>"],
            });

            $('.owl-carousel-2').owlCarousel({
                items: 5,
                responsive: {
                    0: {
                        items: 1
                    },
                    400: {
                        items: 2
                    },
                    600: {
                        items: 3
                    },
                    767: {
                        items: 4
                    },
                    1000: {
                        items: 5
                    },
                    1400: {
                        items: 5
                    }
                },
                margin: 40,
                loop: true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                dots: false,
                nav: false
            });
        });
    </script>


    <script src="~/Content/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/app.min.js"></script>
    <script src="~/Content/assets/js/particles-config.js"></script>
    <script src="~/Content/assets/js/main.js?1.1"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
